analytics-python==1.2.9
bamboolib==1.26.0
certifi==2021.5.30
cryptography==2.9.2
cycler==0.10.0
ipyslickgrid==0.0.3
joblib==1.0.1
kiwisolver==1.3.2
matplotlib==3.4.3
numpy==1.21.2
pandas==1.3.3
Pillow==8.3.2
plotly==4.14.3
ppscore==1.2.0
psutil==5.8.0
pyaml==21.10.1
PyYAML==6.0
retrying==1.3.3
scikit-learn==1.0
scikit-optimize==0.9.0
scipy==1.7.1
seaborn==0.10.1
threadpoolctl==2.2.0
toml==0.10.2
wincertstore==0.2
xlrd==2.0.1
